* {
	box-sizing: border-box;
}

.bookmarks {
	display: flex;
	flex-direction: column;
	text-align: left;
	padding: 10px;
	margin: 30px;
}

header {
	background-color: rgb(238, 154, 57);
	color: white;
	padding: 10px;
	text-align: center;
}

form {
	width: 50%;
	padding: 7px;
}

input {
	width: 100%;
	padding: 3px;
	margin: 5px;
}

/* #bookmark-url {
	width: 350px;
}

#bookmark-name {
	width: 340px;
}

#bookmark-description {
	width: 312px;
}

#bookmark-rating {
	width: 338px;
} */

.App-header {
	background-color: #222;
	height: 150px;
	padding: 20px;
	color: white;
}

button {
	margin: 10px;
}

@media only screen and (max-width: 425px) {
	input {
		flex-grow: 1;
	}
}
